<h3>Total number of friends: {{length}}</h3>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Articles</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{{#each}}
			<tr>
				<td>{{link-to fullName "articles" this}}</td>
				<td>{{totalArticles}}</td>
				<td>
					{{link-to "edit" "friends.edit" this }} |
					<a href="#" {{action "delete" this}}>delete</a>
				</td>
			</tr>
		{{/each}}
	</tbody>
</table>
