<h2>{{fullName}} Details {{link-to 'Edit' 'friends.edit' this}}</h2>
<ul>
	<li>First Name: {{firstName}}</li>
	<li>Last Name: {{lastName}}</li>
	<li>Email: {{email}}</li>
	<li>twitter: {{twitter}}</li>	
</ul>
<a href="#" {{action "delete" this}}>Delete</a>
{{link-to 'Back to Friends Index' 'friends'}}
